version: "2"

services:
  verdaccio:
    container_name: verdaccio
    build:
      context: .
      args:
        - VERDACCIO_USER_NAME
        - VERDACCIO_USER_UID
    volumes:
      - /home/tf-frontend/conf:/verdaccio/conf
      - /home/tf-frontend/storage:/verdaccio/storage
    labels:
      - traefik.backend=npm-registry
      - traefik.frontend.rule=Host:npm-registry.sisyphos.arz.oeaw.ac.at
      - traefik.docker.network=web
      - traefik.port=4873
    networks:
      - web

networks:
  web:
    external:
      name: web
